body {
  background: #16210b;
}
.u-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
}
.PlatziLogo {
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  -webkit-animation-name: logo;
  -moz-animation-name: logo;
  -o-animation-name: logo;
  -ms-animation-name: logo;
  animation-name: logo;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -o-animation-duration: 5s;
  -ms-animation-duration: 5s;
  animation-duration: 5s;
}
.PlatziLogo-title {
  font-family: "Open Sans";
  margin-left: 20px;
  font-size: 100px;
  color: #fff;
  font-weight: 600;
}
.PlatziLogo-left {
  border: 15px solid #97c93e;
  border-bottom: none;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 65%;
  position: relative;
  top: 1px;
  width: 85%;
}
.PlatziLogo-right {
  width: 100%;
  height: 35%;
  position: relative;
  border: 15px solid #97c93e;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
@-moz-keyframes logo {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.1) rotate(0deg);
    -moz-transform: scale(0.1) rotate(0deg);
    -o-transform: scale(0.1) rotate(0deg);
    -ms-transform: scale(0.1) rotate(0deg);
    transform: scale(0.1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(1) rotate(405deg);
    -moz-transform: scale(1) rotate(405deg);
    -o-transform: scale(1) rotate(405deg);
    -ms-transform: scale(1) rotate(405deg);
    transform: scale(1) rotate(405deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(405deg);
    -moz-transform: scale(1) rotate(405deg);
    -o-transform: scale(1) rotate(405deg);
    -ms-transform: scale(1) rotate(405deg);
    transform: scale(1) rotate(405deg);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes logo {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.1) rotate(0deg);
    -moz-transform: scale(0.1) rotate(0deg);
    -o-transform: scale(0.1) rotate(0deg);
    -ms-transform: scale(0.1) rotate(0deg);
    transform: scale(0.1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(1) rotate(405deg);
    -moz-transform: scale(1) rotate(405deg);
    -o-transform: scale(1) rotate(405deg);
    -ms-transform: scale(1) rotate(405deg);
    transform: scale(1) rotate(405deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(405deg);
    -moz-transform: scale(1) rotate(405deg);
    -o-transform: scale(1) rotate(405deg);
    -ms-transform: scale(1) rotate(405deg);
    transform: scale(1) rotate(405deg);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes logo {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.1) rotate(0deg);
    -moz-transform: scale(0.1) rotate(0deg);
    -o-transform: scale(0.1) rotate(0deg);
    -ms-transform: scale(0.1) rotate(0deg);
    transform: scale(0.1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(1) rotate(405deg);
    -moz-transform: scale(1) rotate(405deg);
    -o-transform: scale(1) rotate(405deg);
    -ms-transform: scale(1) rotate(405deg);
    transform: scale(1) rotate(405deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(405deg);
    -moz-transform: scale(1) rotate(405deg);
    -o-transform: scale(1) rotate(405deg);
    -ms-transform: scale(1) rotate(405deg);
    transform: scale(1) rotate(405deg);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes logo {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.1) rotate(0deg);
    -moz-transform: scale(0.1) rotate(0deg);
    -o-transform: scale(0.1) rotate(0deg);
    -ms-transform: scale(0.1) rotate(0deg);
    transform: scale(0.1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(1) rotate(405deg);
    -moz-transform: scale(1) rotate(405deg);
    -o-transform: scale(1) rotate(405deg);
    -ms-transform: scale(1) rotate(405deg);
    transform: scale(1) rotate(405deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(405deg);
    -moz-transform: scale(1) rotate(405deg);
    -o-transform: scale(1) rotate(405deg);
    -ms-transform: scale(1) rotate(405deg);
    transform: scale(1) rotate(405deg);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
